<main class="main">
  <div class="content">
    <hr>
    <h1 class="welcome">Willkommen {{ user }}!</h1><br>
    <div class="buttons">
      <button type="button" class="btn btn-outline-dark" id="levelButton4" routerLink="/floor">4. Floor</button> <br>
      <button type="button" class="btn btn-outline-dark" id="levelButton3">3. Floor</button> <br>
      <button type="button" class="btn btn-outline-dark" id="levelButton2">2. Floor</button> <br>
      <button type="button" class="btn btn-outline-dark" id="levelButton1">1. Floor</button> <br>
    </div>
  </div>
</main>
