<main class="main">
  <div class="content">
    <h1 class="welcome">Welcome {{ user }}!</h1><br>
    <div class="buttons">
      <button type="button" mat-stroked-button class="floorbtn" id="levelButton4" routerLink="/floor/4">4. Floor</button> <br>
      <button type="button" mat-stroked-button class="floorbtn" id="levelButton3" routerLink="/floor/3">3. Floor</button> <br>
      <button type="button" mat-stroked-button class="floorbtn" id="levelButton2" routerLink="/floor/2">2. Floor</button> <br>
      <button type="button" mat-stroked-button class="floorbtn" id="levelButton1" routerLink="/floor/1">1. Floor</button> <br>
      <button type="button" mat-stroked-button class="floorbtn" id="overview" routerLink="/overview">Overview</button> <br>
    </div>
  </div>
</main>
