<div class="outer">
  <mat-dialog-content class="dialog">
    <h4>Enter the date you want to reserve a table for:</h4>
    <form [formGroup]="dateInputForm" (ngSubmit)="onSubmit()">
      <mat-card class="demo-inline-calendar-card">
        <mat-calendar [selected]="dateInputForm.get('date').value" (selectedChange)="updateFormDate($event)"></mat-calendar>
      </mat-card><br>
      <button mat-stroked-button class="sub" type="button" (click)="closeDialog()">Cancel</button>
      <button mat-stroked-button class="sub" type="submit" [disabled]="!dateInputForm.valid" (click)="openSnackBar()">Submit</button>
    </form>
  </mat-dialog-content>
</div>
