<desksharingHeader></desksharingHeader>
<mat-sidenav-container class="container">
  <mat-sidenav mode="side" [opened]="open" class="side">
    <button mat-button type="button" class="navbtn" routerLink="/overview">Overview</button>
    @for (i of numberOfFloorsCollection; track i) {
      <button mat-button type="button" class="navbtn" (click)="redirectTo('/floor/' + i)">{{ i }}. Floor</button>
      <br>
    }
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet/>
  </mat-sidenav-content>
</mat-sidenav-container>
