
<div class="outer">
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">1. OG</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">2. OG</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">3. OG</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">4. OG</a>
    </li>
  </ul>
  <object type="image/svg+xml" data="assets/floor1.svg" #svgObject class="mySVG" ></object>
