<mat-toolbar-row class="nav">
  <button mat-button id="levelButton1" class="navBtn" routerLink="/floor/1" (click)="changeFloor(true)">1. Floor</button>
  <button mat-button id="levelButton2" class="navBtn" routerLink="/floor/2" (click)="changeFloor(true)">2. Floor</button>
  <button mat-button id="levelButton3" class="navBtn" routerLink="/floor/3" (click)="changeFloor(true)">3. Floor</button>
  <button mat-button id="levelButton4" class="navBtn" routerLink="/floor/4" (click)="changeFloor(true)">4. Floor</button>
</mat-toolbar-row>
<object type="image/svg+xml" [data]="safePath" #svgObject class="mySVG"></object>
<!-- <img #svgObject class="mySVG" [src]="safePath" alt="floor"><img> -->

