.mySVG {
  margin: auto;
  display: block;
}

.nav {
  text-align: center;
  display: block;
}

.navBtn {
  font-size: x-large;
  margin: 15px;
}

.table {
  width: 95%;
  display: block;
  margin: auto;
}

.filter {
  margin-top: 25px;
  margin-bottom: 0px;
  width: 100%;
}
